* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #F5ECE3;
    color: #5C4033;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D8C3A5;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #5C4033;
}

nav {
    margin-top: 15px;
}

nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #8E6E53;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #5C4033;
}

nav a img {
    width: 1%;
}

main {
    padding: 50px 0;
    text-align: center;
}

section a {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #E4D6C1;
    color: #5C4033;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: var(--charcoal);
    text-align: left;
    text-transform: uppercase;
    border: 0 solid #000;
    font-size: 7vw;
    font-weight: 300;
    line-height: .95em;
    text-decoration: none;
    transition: transform .3s ease-in-out, color .3s ease-in-out,font-size .3s ease-in-out;
    display: block;
    position: relative;
}

a h1 {
    font-size: 25px;
    text-align: center;
}

section a:hover {
    background-color: #C9A78B;
    font-style: italic;
}

footer {
    background-color: #D8C3A5;
    padding: 10px;
    text-align: center;
    color: #5C4033;
    position: sticky;
    width: 100%;
}

footer p {
    margin: 0;
}